/* 1. Import Fonts từ Google */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Hack làm mịn chữ (Bắt buộc phải có) */
@layer base {
  html {
    -webkit-font-smoothing: antialiased; /* Làm chữ sắc nét hơn trên Mac/Chrome */
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    /* Set font mặc định là Inter */
    font-family: "Inter", sans-serif;
    color: #0e0e0e; /* Màu đen chuẩn Figma của bạn */
  }
}
